<Alloy>
	<TableView id="menu_view" class="menu-view">
		<TableViewRow class="menu-header"></TableViewRow>
		<TableViewRow class="menu-row" id="index_menu_row" onClick="menuItemFunction">
			<ImageView class="menu-row-image" id="index_menu_row_image"></ImageView>
			<Label class="menu-row-text" text="L('index_title')"></Label>
		</TableViewRow>
		<TableViewRow class="menu-row" id="drivers_menu_row" onClick="menuItemFunction">
			<ImageView class="menu-row-image" id="drivers_menu_row_image"></ImageView>
			<Label class="menu-row-text" text="L('drivers_title')"></Label>
		</TableViewRow>
		<TableViewRow class="menu-row" id="teams_menu_row" onClick="menuItemFunction">
			<ImageView class="menu-row-image" id="teams_menu_row_image"></ImageView> 
			<Label class="menu-row-text" text="L('teams_title')"></Label>
		</TableViewRow>
		<TableViewRow class="menu-row" id="races_menu_row" onClick="menuItemFunction">
			<ImageView class="menu-row-image" id="races_menu_row_image"></ImageView>
			<Label class="menu-row-text" text="L('races_title')"></Label>
		</TableViewRow>
	</TableView>
</Alloy>